# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

version: '3.4'

services:
  changelog-api:
    image: changelog-api
    build:
      context: ./changelog-api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"  
  
  changelog-ui:
    image: changelog-ui
    build:
      context: ./changelog-ui
      dockerfile: Dockerfile
    ports:
      - "9000:9000"